// Generated by Pervice OpenAPI Generator on October 8, 2026
// Do not edit this file manually.

import 'package:dio/dio.dart';
import 'package:pervice_openapi/pervice_openapi.dart';

import '../api.dart';

/// Service implementation for the `GET /users/{id}/feeds` API endpoint.
final class GetUsersByIdFeeds extends OpenApiService<UserFeedsResponse> {
  new({
    required this.id,
    this.cursor,
    this.size,
    this.sort,
    this.albumId,
  });

  final String id;
  final String? cursor;
  final num? size;
  final UserFeedsSort? sort;
  final String? albumId;

  @override
  Dio get $dio => Api.dio;

  @override
  OpenApiMethod get $method => .get;

  @override
  String get $url => '/users/${id.encodeUri()}/feeds';

  @override
  Map<String, dynamic> get $query => {
    'cursor': cursor.encode(),
    'size': size.encode(),
    'sort': sort.encode(),
    'albumId': albumId.encode(),
  };

  @override
  UserFeedsResponse decode(Object? obj) {
    return obj.decode<UserFeedsResponse>()!;
  }
}
