// Generated by Pervice OpenAPI Generator on October 8, 2026
// Do not edit this file manually.

import 'package:dio/dio.dart';
import 'package:pervice_openapi/pervice_openapi.dart';

import '../api.dart';

/// Service implementation for the `GET /posts/search` API endpoint.
final class GetPostsSearch extends OpenApiService<PostsResponse> {
  new({
    this.page,
    this.size,
    required this.keyword,
    required this.searchBy,
    this.type,
  });

  final num? page;
  final num? size;
  final String keyword;
  final PostSearchBy searchBy;
  final PostTypeFilter? type;

  @override
  Dio get $dio => Api.dio;

  @override
  OpenApiMethod get $method => .get;

  @override
  String get $url => '/posts/search';

  @override
  Map<String, dynamic> get $query => {
    'page': page.encode(),
    'size': size.encode(),
    'keyword': keyword.encode(),
    'searchBy': searchBy.encode(),
    'type': type.encode(),
  };

  @override
  PostsResponse decode(Object? obj) {
    return obj.decode<PostsResponse>()!;
  }

  @override
  String toString() => 'GetPostsSearch(page: $page, size: $size, keyword: $keyword, searchBy: $searchBy, type: $type)';
}
