// Generated by Pervice OpenAPI Generator on October 8, 2026
// Do not edit this file manually.

import 'package:dio/dio.dart';
import 'package:pervice_openapi/pervice_openapi.dart';

import '../api.dart';

/// Service implementation for the `GET /auth/refresh` API endpoint.
final class GetAuthRefresh extends OpenApiService<JwtResponse> {
  new({
    this.grimityAppModel,
    this.grimityAppDevice,
  });

  final String? grimityAppModel;
  final String? grimityAppDevice;

  @override
  Dio get $dio => Api.dio;

  @override
  OpenApiMethod get $method => .get;

  @override
  String get $url => '/auth/refresh';

  @override
  Map<String, dynamic> get $headers => {
    'grimity-app-model': grimityAppModel.encode(),
    'grimity-app-device': grimityAppDevice.encode(),
  };

  @override
  JwtResponse decode(Object? obj) {
    return obj.decode<JwtResponse>()!;
  }

  @override
  String toString() => 'GetAuthRefresh(grimityAppModel: $grimityAppModel, grimityAppDevice: $grimityAppDevice)';
}
