// Generated by Pervice OpenAPI Generator on October 8, 2026
// Do not edit this file manually.

import 'package:dio/dio.dart';
import 'package:pervice_openapi/pervice_openapi.dart';

import '../api.dart';

/// Service implementation for the `GET /feeds/rankings` API endpoint.
final class GetFeedsRankings extends OpenApiService<FeedRankingsResponse> {
  new({
    this.month,
    this.startDate,
    this.endDate,
  });

  final String? month;
  final String? startDate;
  final String? endDate;

  @override
  Dio get $dio => Api.dio;

  @override
  OpenApiMethod get $method => .get;

  @override
  String get $url => '/feeds/rankings';

  @override
  Map<String, dynamic> get $query => {
    'month': month.encode(),
    'startDate': startDate.encode(),
    'endDate': endDate.encode(),
  };

  @override
  FeedRankingsResponse decode(Object? obj) {
    return obj.decode<FeedRankingsResponse>()!;
  }

  @override
  String toString() => 'GetFeedsRankings(month: $month, startDate: $startDate, endDate: $endDate)';
}
