// Generated by Pervice OpenAPI Generator on October 8, 2026
// Do not edit this file manually.

import 'package:dio/dio.dart';
import 'package:pervice_openapi/pervice_openapi.dart';

import '../api.dart';

/// Service implementation for the `POST /auth/register` API endpoint.
final class PostAuthRegister extends OpenApiService<LoginResponse> {
  new({
    this.grimityAppModel,
    this.grimityAppDevice,
    required this._request,
  });

  final String? grimityAppModel;
  final String? grimityAppDevice;
  final RegisterRequest _request;

  @override
  Dio get $dio => Api.dio;

  @override
  OpenApiMethod get $method => .post;

  @override
  String get $url => '/auth/register';

  @override
  Map<String, dynamic> get $headers => {
    'grimity-app-model': grimityAppModel.encode(),
    'grimity-app-device': grimityAppDevice.encode(),
  };

  @override
  String get $contentType => 'application/json';

  @override
  Object? get $body => _request.encode();

  @override
  LoginResponse decode(Object? obj) {
    return obj.decode<LoginResponse>()!;
  }

  @override
  String toString() =>
      'PostAuthRegister(grimityAppModel: $grimityAppModel, grimityAppDevice: $grimityAppDevice, _request: $_request)';
}
