name: 자동화 배포

on:
  workflow_dispatch:
    inputs:
      VERSION_NAME:
        description: "버전 입력 (e.g. 1.2.3)"
        required: true
        type: string
      BUILD_NUMBER:
        description: "빌드 번호 입력 (e.g. 43)"
        required: true
        type: number
      RELEASE_NOTE:
        description: "출시 노트 (자동 검토 제출)"
        required: false
        default: ""
        type: string

env:
  # 참고: 항상 최신 버전으로 유지하도록 패치 요망
  FLUTTER_VERSION: 3.35.7

jobs:
  deploy:
    runs-on: macos-latest
    permissions:
      contents: write # push, release 등 권한
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: SSH 키 설정
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Java 설치
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 17

      - name: Android SDK 설치
        uses: android-actions/setup-android@v3

      - name: Flutter SDK 캐시
        uses: actions/cache@v3
        with:
          path: /Users/runner/hostedtoolcache/flutter
          key: ${{ runner.os }}-flutter-${{ env.FLUTTER_VERSION }}

      - name: Flutter 설치
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: ${{ env.FLUTTER_VERSION }}

      - name: FlutterFire CLI 설치
        run: dart pub global activate flutterfire_cli

      - name: 구성 파일 불러오기
        run: dart run git_config fetch --ssh

      - name: Dart 전처리 빌드
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Android, iOS 배포
        uses: MTtankkeo/flutter-fastlane-action@main
        with:
          draft: true # 초안 업로드 여부 (임시 설정)
          app-id: "com.grimity.flutter"
          version-name: ${{ github.event.inputs.VERSION_NAME }}
          build-number: ${{ github.event.inputs.BUILD_NUMBER }}
          release-note: ${{ github.event.inputs.RELEASE_NOTE }}
          match-repository: Grimity/grimity-flutter-certs
          match-password: ${{ secrets.MATCH_PASSWORD }}
          appstore-connect-issuer-id: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
          appstore-connect-key-id: ${{ secrets.APP_STORE_CONNECT_API_KEY_ID }}
          appstore-connect-key: ${{ secrets.APP_STORE_CONNECT_KEY }}
          appstore-team-id: ${{ secrets.APP_STORE_TEAM_ID }}
          build-extra: --flavor prod --target lib/app/entrypoints/main_prod.dart

      - name: 깃허브 릴리스에 빌드 파일 업로드 및 기록
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ./build/release.aab
            ./build/release.ipa
          tag_name: v${{ github.event.inputs.VERSION_NAME }}
          name: "v${{ github.event.inputs.VERSION_NAME }} (Build ${{ github.event.inputs.BUILD_NUMBER }})"
          body: |
            ## 배포 정보
            > 해당 빌드는 [${{ github.sha }}](https://github.com/${{ github.repository }}/commit/${{ github.sha }})으로 체크아웃되고 배포되었습니다.

            | 항목 | 값 |
            | --- | --- |
            | **빌드 버전** | ${{ github.event.inputs.VERSION_NAME }} |
            | **빌드 번호** | ${{ github.event.inputs.BUILD_NUMBER }} |
            | **커밋 SHA** | ${{ github.sha }} |

            ## 대상 파일
            - Android App Bundle: `release.aab`
            - iOS IPA: `release.ipa`

            > [!WARNING]
            > 워커플로우에 의해 자동 업로드된 빌드 파일입니다.
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
